@{
    ViewData["Title"] = "AccessDenied";
}
<link rel="stylesheet" href="~/css/site.css" />
<div id="AccessDemied">
    <div class="container">
        <h1>403</h1>
        <h2>Access Denied</h2>
        <p>You do not have permission to access this page or resource.</p>
        <a href="/">Go Back Home</a>
    </div>
</div>
